@model IEnumerable<OnlineJewelleryShopping.Models.GoldKrtMst>

@{
    ViewBag.Title = "GoldKrt";
    Layout = "~/Views/Shared/_BackEnd.cshtml";
}

<h2>GoldKrt</h2>

<p>
    @Html.ActionLink("Create New", "CreateGoldKrt")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoldType_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gold_Crt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GoldType_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gold_Crt)
        </td>
        <td>
            <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.GoldType_Id })</button>
            <button class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.GoldType_Id })</button>
        </td>
    </tr>
}

</table>
